<h2> тест страницы </h2>
<p> тестовая страница </p>


<form action="/visit" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input type="username" class="form-control" placeholder="Ваше имя">
    </div>
  

  <button type="Submit" class="btn btn-primary">Записаться</button>
</form>