<h2> тест страницы </h2>
<p> тестовая страница </p>


<form action="/visit" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Ваше имя</label>
    <input type="username" class="form-control" placeholder="Ваше имя">

<select class="custom-select">
  <option selected>Выбор</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
</div>
</form>
 
 <button type="Submit" class="btn btn-primary">Записаться</button> 
